.about {
    text-align: center;
    background-color: #C8CAD1;
    border: 2px solid black;
     
}

.abouttitle {
    text-decoration-line: underline;
    text-decoration-style: solid;
    
}

.abouttext {
    font-size: 20px;
}